.profile_container {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    border: 1px solid black;
}

.profile_left {
    height: 50vh;
    width: 30%;


}


.profile_right {
    padding: 10px;
}

.image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.name {
    color: rgb(0, 0, 0);
    margin-left: 25%;
    margin-top: 10px;
}



.input_input {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

.submit:hover {
    background-color: #45a049;
}

.concon {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.bookcardconatiner{
    display: flex;
}

.bookcard{
    width: 35%;
    height: 300px;
   border: 2px solid #092d6f;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 40px;
}
.bookcard h3{
    margin: 20px;
    color: #000000;
}
.bookcard h2{
    margin: 20px;
    color: #1890FF;
    font-weight: bold;
}

.bookcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(3px);
  }

  .btnbtn{
    float: right;
   border-radius: 20px;
   background-color: #1890FF;
   color: white;
   cursor: pointer;
   transition-duration: 0.4s;
  }

  .btnbtn:hover{
    background-color: white;
    color: black;
    border: 2px solid #1890FF;
  }

  .stus{
    background-color: #45a049;
    border: 1px solid green;
    width: 40px;
    border-radius: 20px;
    color: white;
  }